*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: black;
    color: white;
    padding: 30px;
}

main{
    background-color: pink;
    padding: 20px;
}
